body {
  background-color: #ffff;
  padding: 0;
  margin: 0;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
}
.ctn_form_reg {
  background: linear-gradient(
    120deg,
    rgb(252, 203, 144) 0%,
    rgb(213, 126, 235) 100%
  );
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.ctn_form_log {
  background: linear-gradient(
    to right,
    #ff8177 0%,
    #ff867a 0%,
    #ff8c7f 21%,
    #f99185 52%,
    #cf556c 78%,
    #b12a5b 100%
  );
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal_form {
  border-radius: 10px;
  width: 400px;
  height: auto;
  display: flex;
  background-color: #ffff;
  flex-direction: column;
}
.ctn_form h3 {
  font-size: 1.2rem;
  text-align: center;
  color: #fff;
}
.header_form_modal {
  background-color: #81dafc;
  height: 60px;
  width: 100%;
  line-height: 30px;
  text-align: center;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.body_form_modal {
  background-color: #fff;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  padding: 20px;
}
.body_form_modal form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.body_form_modal form .input_birthday {
  margin-top: 15px;
}
.footer_form_modal {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
}
.admin_cte {
  width: 100%;
  display: flex;
  justify-content: center;
}
#sidebar_admin {
  height: 100vh;
  width: 230px;
  opacity: 0.7;
  background-image: linear-gradient(to top, #30cfd0 0%, #330867 100%);
  transition: all 0.3s ease-in-out;
}
.top_sidebar {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
#sidebar_admin.top_sidebar_close {
  width: 50px;
}
.top_sidebar svg {
  color: #fff;
  margin-right: 10px;
  cursor: pointer;
}
.sidebar_ctn_name {
  width: 100%;
  display: flex;
  justify-content: space-around;
  height: 80px;
  flex-direction: column;
  align-items: center;
}
.img_member {
  width: 50px;
  height: 50px;
  background-color: #fff;
  border-radius: 50%;
}
.sidebar_ctn_name span {
  color: #fff;
  margin-top: 10px;
}
.sidebar_ctn_menu {
  height: 100%;
  padding: 15px 10px 30px 10px;
}
.row_sidebar {
  width: 90%;
  border-radius: 10px;
  padding-left: 15px;
  transition: 0.3s all;
  margin-top: 50px;
}
.row_sidebar button {
  margin-bottom: 15px;
}

.row_sidebar button:hover {
  background-color: rgba(255, 255, 255, 0.1);
}
.topbar {
  height: 60px;
  background-color: #fff;
  display: flex;
  align-items: center;
  box-shadow: 0 10px 6px -6px #777;
}
.admin_panel_left {
  width: 100%;
}
.ctn_title_logo h2 {
  color: #6e609b;
  margin-left: 25px;
}
.app_page_title {
  padding: 30px 0 30px 0px;
  background: #f1f4f6;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.app_page_left {
  display: flex;
  padding-left: 30px;
}
.app_page_right {
  display: flex;
  margin-right: 25px;
}

.app_page_right button {
  background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
  color: #fff;
  margin-right: 25px;
  height: 45px;
  align-self: center;
}
.cube_logo {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  box-shadow: 0 0.46875rem 2.1875rem rgba(4, 9, 20, 0.03),
    0 0.9375rem 1.40625rem rgba(4, 9, 20, 0.03),
    0 0.25rem 0.53125rem rgba(4, 9, 20, 0.05),
    0 0.125rem 0.1875rem rgba(4, 9, 20, 0.03);
  border-radius: 0.25rem;
  width: 60px;
  height: 60px;
  background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
}
.cube_logo {
  color: #fff;
}
.app_page_title h3 {
  margin-left: 15px;
  color: #30cfd0;
}
.ctn_modal {
  display: flex;
  justify-content: center;
  align-items: center;
}
.inner_modal_form {
  width: 350px;
  height: auto;
  background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
  border-radius: 25px;
  padding: 25px;
  box-shadow: 0 0.46875rem 2.1875rem rgba(4, 9, 20, 0.03),
    0 0.9375rem 1.40625rem rgba(4, 9, 20, 0.03),
    0 0.25rem 0.53125rem rgba(4, 9, 20, 0.05),
    0 0.125rem 0.1875rem rgba(4, 9, 20, 0.03);
}
