@font-face {
  font-family: "NoirPro";
  src: local("NoirPro"), url(./fonts/NoirPro-Regular.woff) format("woff");
}
body {
  background-color: #ffff;
  padding: 0;
  margin: 0;
  font-family: "NoirPro", sans-serif;
  font-weight: 400;
  font-size: 16px;
}

.ctn_form_reg {
  background: linear-gradient(
    120deg,
    rgb(252, 203, 144) 0%,
    rgb(213, 126, 235) 100%
  );
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.ctn_form_log {
  background: linear-gradient(
    to right,
    #ff8177 0%,
    #ff867a 0%,
    #ff8c7f 21%,
    #f99185 52%,
    #cf556c 78%,
    #b12a5b 100%
  );
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal_form {
  border-radius: 10px;
  width: 400px;
  height: auto;
  display: flex;
  background-color: #ffff;
  flex-direction: column;
}
.ctn_form h3 {
  font-size: 1.2rem;
  text-align: center;
  color: #fff;
}
.header_form_modal {
  background-color: #81dafc;
  height: 60px;
  width: 100%;
  line-height: 30px;
  text-align: center;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.body_form_modal {
  background-color: #fff;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  padding: 20px;
}
.body_form_modal form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.body_form_modal form .input_birthday {
  margin-top: 15px;
}
.footer_form_modal {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
}
.admin_cte {
  width: 100%;
  display: flex;
  justify-content: center;
}
#sidebar_admin {
  height: auto;
  width: 280px;
  background-color: #3c3766;
  transition: all 0.3s ease-in-out;
  color: #9799ac;
  min-height: 100vh;
}
.top_sidebar {
  height: 90px;
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 15px;
  padding-right: 15px;
}
.top_sidebar h3 {
  color: #fff;
  text-transform: uppercase;
  position: relative;
  padding-right: 50px;
}
.top_sidebar h3::before {
  content: "";
  top: -12px;
  position: absolute;
  right: 0;
  width: 45px;
  height: 45px;
  background: no-repeat center transparent
    url(../styles/images/toucan-svgrepo-com.svg);
  background-size: 45px;
}
#sidebar_admin.top_sidebar_close {
  width: 80px;
}
.top_sidebar svg {
  color: #fff;
  margin-right: 10px;
  cursor: pointer;
  padding-right: 15px;
}
.border_sidebar {
  width: 80%;
  height: 1px;
  background-color: #9799ac;
  margin: auto;
  display: block;
  margin-top: 15px;
  margin-bottom: 15px;
}
.sidebar_ctn_name {
  display: flex;
  height: 80px;
  align-items: center;
  justify-content: flex-start;
  padding-left: 15px;
}
.img_member {
  width: 50px;
  height: 50px;
  background-color: #fff;
  border-radius: 50%;
}
.sidebar_ctn_name span {
  padding-left: 15px;
}
.sidebar_ctn_menu {
  padding-left: 15px;
  display: flex;
  justify-content: flex-start;
}
.row_sidebar {
  width: 90%;
  border-radius: 10px;
  transition: 0.3s all;
}
.sidebar_ctn_menu_close .row_sidebar {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.sidebar_ctn_menu_close .row_sidebar button,
.sidebar_ctn_menu_close .row_sidebar a {
  margin-bottom: 20px;
}
.sidebar_ctn_menu_close .row_sidebar svg {
  transition: 0.3s all;
}
.sidebar_ctn_menu_close .row_sidebar svg:hover {
  color: #00b378 !important;
}
.row_sidebar button {
  width: 100%;
  border-radius: 10px;
  transition: 0.3s all;
  display: flex;
  justify-content: flex-start;
}
.row_sidebar button span {
  transition: 0.3s all;
}

.row_sidebar button:hover {
  background-color: rgba(255, 255, 255, 0.1);
}
.row_sidebar button:hover > span {
  color: #00b378;
}
.topbar {
  height: 60px;
  background-color: #fff;
  display: flex;
  align-items: center;
  box-shadow: 0 10px 6px -6px #777;
}
.admin_panel_left {
  width: 100%;
  flex: 1;
}
.ctn_title_logo h2 {
  color: #6e609b;
  margin-left: 25px;
}
.app_page_title {
  padding: 15px 0 15px 0px;
  background: #f1f4f6;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.app_page_left {
  display: flex;
  padding-left: 30px;
}
.app_page_right {
  margin-right: 25px;
  width: 470px;
  display: flex;
  justify-content: space-between;
}

.app_page_right button {
  background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
  color: #fff;
  margin-right: 25px;
  height: 45px;
  align-self: center;
}
.cube_logo {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  box-shadow: 0 0.46875rem 2.1875rem rgba(4, 9, 20, 0.03),
    0 0.9375rem 1.40625rem rgba(4, 9, 20, 0.03),
    0 0.25rem 0.53125rem rgba(4, 9, 20, 0.05),
    0 0.125rem 0.1875rem rgba(4, 9, 20, 0.03);
  border-radius: 0.25rem;
  width: 60px;
  height: 60px;
  background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
}
.cube_logo {
  color: #fff;
}
.app_page_title h3 {
  margin-left: 15px;
  color: #30cfd0;
}
.ctn_modal {
  display: flex;
  justify-content: center;
  align-items: center;
}
.ctn_modal form {
  padding: 15px;
  animation: "outAnimation 270ms ease-out";
}
@keyframes outAnimation {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}
.top_modal {
  padding: 15px;
  padding-bottom: 0;
}
.MuiInputBase-root {
  color: #f50057 !important;
}
.inner_modal_form {
  outline: none;
  width: 450px;
  height: auto;
  background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
  border-radius: 15px;
  box-shadow: 0 0.46875rem 2.1875rem rgba(4, 9, 20, 0.03),
    0 0.9375rem 1.40625rem rgba(4, 9, 20, 0.03),
    0 0.25rem 0.53125rem rgba(4, 9, 20, 0.05),
    0 0.125rem 0.1875rem rgba(4, 9, 20, 0.03);
  display: flex;
  flex-direction: column;
}
.transition-modal-title {
  color: #fff;
  text-align: left;
  margin: 0;
}
#file_wage {
  display: none;
}
.dropzone {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-width: 2px;
  border-radius: 2px;
  border-color: #eeeeee;
  border-style: dashed;
  background-color: transparent;
  color: #fff;
  outline: none;
  transition: border 0.24s ease-in-out;
  cursor: pointer;
}
.dropzone > * {
  color: #eeeeee;
}
.container_drop {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.dropzone_title {
  color: #fff;
}
.list_file_dropzone_uncheck,
.list_file_dropzone_check {
  padding: 0;
}
.list_file_dropzone_check li {
  list-style: none;
  background-color: #28a745;
  padding: 12px;
  border-radius: 20px;
  color: #fff;
}
.list_file_dropzone_uncheck li {
  list-style: none;
  background-color: #dc3545;
  padding: 12px;
  border-radius: 20px;
  color: #fff;
}
form .button_form {
  margin-top: 15px;
  text-align: right;
}
.ctn_btn_form {
  display: flex;
  justify-content: flex-end;
}
.ctn_wages {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: start;
  padding-top: 25px;
  flex-wrap: wrap;
}
.ctn_loader_wage {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: start;
  padding-top: 25px;
  flex-wrap: wrap;
  margin-left: 20px;
}
.card_wage_loader {
  width: 300px;
  height: 350px;
  margin: 10px 20px;
}
.card_wage {
  width: 300px;
  height: 350px;
  box-shadow: 0 0.46875rem 2.1875rem #04091408, 0 0.9375rem 1.40625rem #04091408,
    0 0.25rem 0.53125rem #0409140d, 0 0.125rem 0.1875rem #04091408;
  border-radius: 0.25rem;
  background-color: #fff;
  margin: 10px 20px;
}
.ctn_name_company {
  background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
  display: inline;
  padding: 5px;
  border-radius: 8px;
  box-shadow: 0 0.46875rem 2.1875rem #04091408, 0 0.9375rem 1.40625rem #04091408,
    0 0.25rem 0.53125rem #0409140d, 0 0.125rem 0.1875rem #04091408;
  border-radius: 0.25rem;
  color: #fff;
}
.card_wage_top {
  display: flex;
  justify-content: space-between;
  padding: 15px 15px 0px 15px;
}
.line_info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 30px;
}
.ctn_pdf_wage {
  width: auto;
  height: 115px;
  padding: 0 10px;
  margin: 15px 0;
}
.ctn_pdf_wage form {
  height: 100%;
}
.ctn_info_wage {
  padding: 5px 15px 5px 15px;
  background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
  color: #fff;
}
.ctn_wage_action {
  height: auto;
  display: flex;
  justify-content: space-around;
  padding-top: 15px;
}
.ctn_wage_action svg {
  color: #fff;
}
.icon_delete {
  width: 20px;
  height: 20px;
  background-color: #f44336;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.icon_delete:hover {
  opacity: 0.5;
}
.icon_delete {
  width: 35px;
  height: 35px;
  background-color: #f44336;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.icon_modify {
  width: 35px;
  height: 35px;
  background-color: #52c41a;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.icon_download {
  width: 35px;
  height: 35px;
  background-color: #038fde;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
