body {
  background-color: #ffff;
  padding: 0;
  margin: 0;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
}
.ctn_form_reg {
  background: linear-gradient(
    120deg,
    rgb(252, 203, 144) 0%,
    rgb(213, 126, 235) 100%
  );
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.ctn_form_log {
  background: linear-gradient(
    to right,
    #ff8177 0%,
    #ff867a 0%,
    #ff8c7f 21%,
    #f99185 52%,
    #cf556c 78%,
    #b12a5b 100%
  );
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal_form {
  border-radius: 10px;
  width: 400px;
  height: auto;
  display: flex;
  background-color: #ffff;
  flex-direction: column;
}
.ctn_form h3 {
  font-size: 1.2rem;
  text-align: center;
  color: #fff;
}
.header_form_modal {
  background-color: #81dafc;
  height: 60px;
  width: 100%;
  line-height: 30px;
  text-align: center;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.body_form_modal {
  background-color: #fff;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  padding: 20px;
}
.body_form_modal form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.body_form_modal form .input_birthday {
  margin-top: 15px;
}
.footer_form_modal {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
}
